$pv: 16px;
$gray: #a3a3a3;
$contentXPadding: 100px;
$contentYPadding: 40px;


@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'KBO-Dia-Gothic_bold'
  //overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

#iconButton {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  //align-items: center;
  //justify-content: center;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  background-color: white;
  border-bottom: 2px solid #e3e3e3;
  height: 60px;
  //padding: 0 16px;
  //padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0 16px;
}

#contentLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 240px;
}

#contents {
  //padding: $pv;
  overflow-y: scroll;
  padding: $contentYPadding $contentXPadding;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #35393f;
  //padding: $pv;
  overflow: hidden;

  transition: 0.3s all ease-out;
}

.sidebarOpen {
  width: 18rem;
}

.sidebarClose {
  width: 0rem;
}

#sidebar > #header {
  width: 18rem;
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #35393f;
  gap: 8px;
  color: white;
  border-bottom: 1px solid gray;
}

#sidebar > #content {
  padding: 16px;
  width: auto;
}

.font-gray {
  color: #a3a3a3
}

#spaceTitle {
  color: #e3e3e3;
  padding: 12px 0;
  font-size: 16px;
}

#space {
  width: 14.5rem;
  display: flex;
  items-align: center;

  gap: 16px;
  padding: 12px;
  color: #a3a3a3;
  font-size: 14px;
}


#spaceSmallTitle {
  color: gray;
  font-size: 12px;
  padding: 12px 0;
  width: 5rem;
}

#spaceListButton {
  width: 16rem;
  padding: 10px 0;
  color: #a3a3a3;
  background-color: #3f3f3f;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 12px 0;
}

#workspaceHeader {
  top: 60px;
  height: 140px;
  width: 100%;
  border: 1px solid #d7d9de;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  position: fixed;
  background-color: white;
  padding: 20px $contentXPadding;
}

#workspaceHeader > div {
  display: flex;
  flexDirection: column;
}